/* CalendarInput.css */
.calendar-input {
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .calendar-title {
    font-size: 1.5rem;
    color: #080826;
    margin-bottom: 15px;
  }
  
  .date-picker {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 1rem;
    color: #080826;
  }
  
  .date-picker .react-datepicker__day--selected {
    background-color: #080826;
    color: #fff;
  }
  
  .date-picker .react-datepicker__day--keyboard-selected {
    background-color: #e2d2fe;
    color: #080826;
  }
  