.mentor-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 2rem;
}

.mentor-profile {
  background-color: #BAE5F4;
  border: none;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  width: 100%;
  max-width: 800px;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mentor-profile:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.mentor-profile-container .profile-pic-container {
  text-align: center;
  margin-bottom: 20px;
}

.mentor-profile-container .profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f0f8ff;
}

.mentor-profile-container .skills-container {
  margin-top: 10px;
}

.mentor-profile-container .skill-tag {
  display: inline-block;
  background: #007bff;
  color: black;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.mentor-profile-container .skill-tag:hover {
  background: #0056b3;
}

.mentor-profile-container input,
.mentor-profile-container textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: #080826;
  border: 1px solid black !important;
  border-radius: 5px;
}

.mentor-profile-container button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3181d7bc;
  color: white;
  cursor: pointer;
}

.mentor-profile-container button:hover {
  background-color: #0056b3;
}

.mentor-profile-container .icon-container {
  margin-top: 1.5rem;
}

.mentor-profile-container .icon-container a {
  color: #080826;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.mentor-profile-container .icon-container a:hover {
  color: #080826;
  background-color: #f0f8ff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
